@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Big+Shoulders+Display:wght@700&family=Roboto&family=Roboto+Mono:wght@100&display=swap');

@font-face {
    font-family: outlined;
    src: url(../assets/fonts/horizon_outlined.otf);
}

html {
    scroll-behavior: smooth;
}

/*
font-family: 'Anonymous Pro', monospace;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/





















/* main */










.banner {
    max-width: 70%;
    opacity: 80%;
    margin: -15% 0 0 20%;
}

.banner:hover {
    opacity: 100%;
    transform: scale(1.03);
    transition: 0.9s;
}

footer {
    background-color: black;
    width: 100%;
    height: 100%;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    color: #ffffff;
    text-decoration: none;
    font-size: 4rem;
    padding: 10px 32px;
}

.redes a:hover {
    opacity: 50%;
}

.subir {
    height: 100px;
    width: 100px;
    background-color: darkgray;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 32px;
    line-height: 100px;
    border-radius: 48px;
}

.subir:hover {
    background-color: #cbb538;
}

.subir a {
    text-decoration: none;
    color: #ffffff;
    font-size: 3rem;
}

.subir a:hover {
    opacity: 50%;
}

.rights {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 16px;
    justify-content: center;
}

/* noticias */

.guia{
    background-color: #000;
    margin: 0;
    border-radius: 0;
}

.guia a{
    color: #cbb538;
    font-family: 'Roboto', sans-serif;
}
.tituloNoticias {
    text-align: center;
    font-family: 'outlined';
    font-size: 3.5rem;
    color: #ffffff;
    opacity: 70%;
    text-shadow: 0 0 5px #cbb538;
    padding: 40px 20px;
}

.noticias {
    padding-right: 0px;
    margin-right: 0px;
}

.cajaNotaUno {
    margin: 10px 5%;
    padding: 15px;
    width: 40%;
    transform: scale(1.00);
    transition: all 1.3s;
}

.cajaNotaUno:hover {
    transform: scale(1.01);
    transition: all 1.3s;
}

.tit1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0 15px #d2c88f;
    padding: 10px;
}

.des {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 10px;
    font-size: 1.5rem;
}

.quote {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-style: italic;
}
/* fabrica */
.botonFabrica{
    margin-top: 10px;
}
.boton{
    background-color: #9bb554;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.boton:hover{
    background-color: #333;
    color: white;
}
.cajaFabrica{
    margin: 10px 5%;
    padding: 15px;
    width: 40%;
}
/* nosotros  */
.fondoNosotros{
    background-image: url(../img/Mesa\ de\ trabajo\ 1.jpg);
    background-position: center;
    background-size: cover;
}
.carouselCaja{
    width: 50%;
    margin: 0 25%;
}
.card{
    background-color: #00000084;
    margin-bottom: 20px;
}
.nombre{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.descripcion{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* contacto  */
.formulario{
    margin: 40px;
    padding: 40px;
    border: solid 5px #d2c88f;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-shadow: 0 0 5px #000;
}
.formulario input:hover{
    transform: scale(1.01);
    transition: all 1.9s;
}
.form-group{
    padding-left: 0px;
}
.suscripto{
    margin-right: 20px;
}
.newsletter{
    padding-left: 0px;
    margin: 10px 0;
}
.btnSiNo{
    width: 20px;
    height: 20px;
}
.btnNewsltt {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.btnContacto{
    display: flex;
    justify-content:start;
    align-content: center;
}
.enviar{
    color: white;
    margin-right: 20px;
}

/* breakpoints */

@media only screen and (max-width:992px){
    .textoMenu{
        display: flex;
        justify-content: start;
        margin-left: 10px;
    }
    .textoUbicacion{
        display: flex;
        justify-content: start;
        margin-left: 10px;
    }
    .cajaBusqueda{
        display: flex;
        justify-content: start;
        margin-left: 10px;
    }
}

@media only screen and (max-width:650px) {
    .cajaBusqueda{
        width: 80%;
    }

    .bienvenidos {
        font-size: 2.5rem;
    }

    .textoBienvenida {
        font-size: 1.2rem;
    }

    .laFabrica {
        font-size: 3rem;
    }

    .sustos {
        font-size: 10rem;
    }

    .banner {
        margin: -20% 0 0 20%;
    }

    .footer {
        margin: 10px;
    }

    .redes a {
        font-size: 4rem;
    }

    .rights {
        font-size: 2rem;
    }
    .subir{
            height: 80px;
            width: 80px;
            bottom: 10px;
            line-height: 80px;
    }

    /* noticias */

    .tituloNoticias {
        font-size: 2.7rem;
    }

    .noticias {
        margin: 0px;
        padding: 0px;
    }

    .cajaNotaUno {
        width: 100%;
    }

    .tit1 {
        font-size: 1.7rem;
    }

    .des {
        font-size: 1.5rem;
    }
    /* fabrica */
    .titFabrica{
        font-size: 2rem;
    }
    .cajaFabrica{
        width: 100%;
    }

    /* nosotros */
    .nombre{
        font-size: 2rem;
    }
    .descripcion{
        font-size: 1.2rem;
    }
    /* contacto */
    .titContacto{
        padding: 20px;
    }
    .formulario{
        margin-top: 20px;
    }
}

    @media only screen and (max-width: 576px){
        .cajaBusqueda{
            width: 50%;
            flex-flow: nowrap;
            margin: 10px;
        }
        /* contacto  */
        .titContacto{
            font-size: 1.5rem;
            padding: 10px 15px;
        }
        .formulario{
            margin-top: 10px;
        }
    }

    @media only screen and (max-width:460px) {
        .logo{
            font-size: 4rem;
            padding: 25px;
        }
        .cajaBusqueda{
            width: 80%;
        }

        .bienvenidos {
            font-size: 2rem;
        }

        .textoBienvenida {
            font-size: 1rem;
        }

        .laFabrica {
            font-size: 2.5rem;
            margin-top: 3rem;
        }

        .sustos {
            font-size: 7rem;
        }

        .redes a {
            font-size: 3rem;
        }

        .rights {
            font-size: 1rem;
        }
        .subir{
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }
        .subir a{
            font-size: 2rem;

        }
        /* noticias  */
        .tituloNoticias {
            font-size: 2.5rem;
            padding-bottom: 10px;
        }

        .tit1 {
            font-size: 2rem;
            padding: 0px;
        }

        .des {
            font-size: 1.2rem;
        }
        /* fabrica  */
        .titFabrica{
            font-size: 1.8rem;
        }
        /* nosotros  */
        .nombre{
            font-size: 1.5rem;
        }
        .descripcion{
            font-size: 1rem;
        }
        /* contacto  */
        .titContacto{
            font-size: 1.3rem;
            margin-top: 10px;
        }
        .enviar{
            font-size: 1rem;
        }
        .reset{
            font-size: 1rem;
        }
    }
    @media only screen and (max-width:350px){
        .logo {
            font-size: 3rem;
        }
        .fondo{
            padding: 10px 16px;
        }
        .bienvenidos {
            font-size: 1.5rem;
            padding: 5px 5px 10px 5px;
        }

        .textoBienvenida {
            font-size: 0.8rem;
        }

        .laFabrica {
            font-size: 2rem;
            margin-top: 4rem;
        }

        .sustos {
            font-size: 5rem;
        }

        .banner {
            max-width: 100%;
            margin: -20% 0 0 0;
            padding-bottom: 20%;
        }

        .redes a {
            font-size: 2rem;
        }

        .rights {
            font-size: 0.8rem;
        }


        /* noticias  */
        .tituloNoticias {
            font-size: 1.8rem;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        .card-body{
            padding: 10px 0;
        }
        .tit1 {
            font-size: 1.5rem;
            padding: 0px;
        }

        .des {
            font-size: 0.9rem;
        }
        .tabla li{
            font-size: 1rem;
            padding: 0px 5px;
        }
        .quote{
            font-size: 1rem;
        }
        /* fabrica  */
        .titFabrica{
            font-size: 1.5rem
        }
        /* contacto  */
        .titContacto{
            font-size: 1.5rem;
        }
        .formulario{
            font-size: 1rem;
        }
        .enviar{
            font-size: 0.9rem;
            margin: 5px;
            padding: 5px;
        }
        .reset{
            font-size: 0.9rem;
            margin: 5px;
            padding: 5px;
        }
    }