@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Big+Shoulders+Display:wght@700&family=Roboto&family=Roboto+Mono:wght@100&display=swap");
@font-face {
  font-family: outlined;
  src: url(../assets/fonts/horizon_outlined.otf);
}
html {
  scroll-behavior: smooth;
}

.barra {
  background-image: url(../img/Mesa\ de\ trabajo\ 2.jpg);
  background-position-y: 20%;
  background-size: cover;
  padding: 0px;
  height: 100%;
}
.barra .menuHamburguesa {
  margin: 30px;
}
.barra .logo {
  font-size: 5rem;
  padding: 0px 50px;
  text-shadow: 3px 3px 25px white;
  font-family: "Big Shoulders Display", cursive;
  transform: scale(1.03);
  transition: 0.9s;
}
.barra .logo:hover {
  transform: scale(1.03);
  transition: 0.9s;
  text-shadow: 3px 3px 50px rgba(0, 0, 0, 0);
}
.barra .menu {
  background-color: rgb(140, 154, 114);
}
.barra .navegacion {
  justify-content: space-between;
}
.barra .navegacion .items {
  width: 65%;
  justify-content: space-evenly;
  margin-right: 30px;
}
.barra .navegacion .items .btn {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.barra .navegacion .items .btn .textoMenu {
  color: white;
}
.barra .navegacion .items .btn .textoMenu:hover {
  color: #cbb538;
  text-shadow: 3px 3px 50px rgba(0, 0, 0, 0);
}
.barra .navegacion .items .btn .textoUbicacion {
  color: #cbb538;
}
.barra .navegacion .items .btn .textoUbicacion:hover {
  text-decoration: none;
  color: white;
}
.barra .navegacion .cajaBusqueda {
  justify-content: center;
}
.barra .navegacion .cajaBusqueda .buscar:hover {
  transform: scale(1.03);
  transition: 0.9s;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0);
}

.fondo {
  background-image: url(../img/Mesa\ de\ trabajo\ 1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0%;
  margin-bottom: 0px;
}
.fondo .bienvenidos {
  font-family: "outlined";
  font-size: 3.5rem;
  color: #cec8c8;
  text-shadow: 0 0 5px #cbb538;
}
.fondo .textoBienvenida {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  color: white;
  text-shadow: 1px 0 15px #cbb538;
}
.fondo .textoBienvenida .ytb {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5rem white;
  text-decoration: none;
}
.fondo .textoBienvenida .ytb:hover {
  color: white;
  text-decoration: underline;
}
.fondo .laFabrica {
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 5rem;
  margin-top: 5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #a1a1a1;
}
.fondo .sustos {
  text-align: center;
  font-family: "Big Shoulders Display", cursive;
  font-size: 15rem;
  color: white;
  letter-spacing: 8px;
  text-shadow: 0 0 70px #a1a1a1;
}
.fondo .banner {
  max-width: 70%;
  opacity: 80%;
  margin: -15% 0 0 20%;
}
.fondo .banner:hover {
  opacity: 100%;
  transform: scale(1.03);
  transition: 0.9s;
}

footer {
  background-color: black;
  width: 100%;
  height: 100%;
}
footer .redes {
  display: flex;
  justify-content: center;
}
footer .redes a {
  color: white;
  text-decoration: none;
  font-size: 4rem;
  padding: 10px 32px;
}
footer .redes a:hover {
  opacity: 50%;
}
footer .rights {
  display: flex;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 16px;
  justify-content: center;
}

.subir {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 32px;
  line-height: 100px;
  border-radius: 48px;
}
.subir a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}
.subir a:hover {
  opacity: 50%;
}

.subir:hover {
  background-color: #cbb538;
}

.guia {
  background-color: #000;
  margin: 0;
  border-radius: 0;
}
.guia a {
  color: #cbb538;
  font-family: "Roboto", sans-serif;
}

.tituloNoticias {
  text-align: center;
  font-family: "outlined";
  font-size: 3.5rem;
  color: white;
  opacity: 70%;
  text-shadow: 0 0 5px #cbb538;
  padding: 40px 20px;
}

.noticias {
  padding-right: 0px;
  margin-right: 0px;
}
.noticias .cajaNotaUno, .noticias .cajaFabrica {
  margin: 10px 5%;
  padding: 15px;
  width: 40%;
  transform: scale(1);
  transition: all 1.3s;
  background-color: rgba(0, 0, 0, 0.5176470588);
}
.noticias .cajaNotaUno .tit1, .noticias .cajaFabrica .tit1 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 15px #d2c88f;
  padding: 10px;
}
.noticias .cajaNotaUno .des, .noticias .cajaFabrica .des {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 10px;
  font-size: 1.5rem;
}
.noticias .cajaNotaUno .quote, .noticias .cajaFabrica .quote {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
}
.noticias .cajaNotaUno .boton, .noticias .cajaFabrica .boton {
  background-color: #cbb538;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.noticias .cajaNotaUno .boton:hover, .noticias .cajaFabrica .boton:hover {
  background-color: #333;
  color: white;
}
.noticias .cajaNotaUno:hover, .noticias .cajaFabrica:hover {
  transform: scale(1.01);
  transition: all 1.3s;
}

.cajaFabrica .boton:hover {
  background-color: #333;
  color: white;
}

.carouselCaja {
  width: 50%;
  margin: 0 25%;
}
.carouselCaja .card {
  background-color: rgba(0, 0, 0, 0.5176470588);
  margin-bottom: 20px;
}
.carouselCaja .nombre {
  color: white;
  font-family: "Roboto", sans-serif;
}
.carouselCaja .descripcion {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: white;
}

.formulario {
  margin: 40px;
  padding: 40px;
  border: solid 5px #d2c88f;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
.formulario .form-group {
  padding-left: 0px;
}
.formulario .formulario input:hover {
  transform: scale(1.01);
  transition: all 1.9s;
}
.formulario .suscripto {
  margin-right: 20px;
}
.formulario .btnSiNo {
  width: 20px;
  height: 20px;
}
.formulario .newsletter {
  padding-left: 0px;
  margin: 10px 0;
}
.formulario .newsletter .btnNewsltt {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.formulario .btnContacto {
  display: flex;
  justify-content: start;
  align-content: center;
}
.formulario .btnContacto .enviar {
  color: white;
  margin-right: 20px;
}

@media only screen and (max-width: 992px) {
  .textoMenu {
    display: flex;
    justify-content: start;
    margin-left: 10px;
  }
  .textoUbicacion {
    display: flex;
    justify-content: start;
    margin-left: 10px;
  }
  .cajaBusqueda {
    display: flex;
    justify-content: start;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .cajaBusqueda {
    width: 80%;
  }
  .fondo .bienvenidos {
    font-size: 2.5rem;
  }
  .fondo .textoBienvenida {
    font-size: 1.2rem;
  }
  .fondo .laFabrica {
    font-size: 3rem;
  }
  .fondo .sustos {
    font-size: 10rem;
  }
  .fondo .banner {
    margin: -20% 0 0 20%;
  }
  .footer {
    margin: 10px;
  }
  .footer .redes a {
    font-size: 4rem;
  }
  .footer .rights {
    font-size: 2rem;
  }
  .subir {
    height: 80px;
    width: 80px;
    bottom: 10px;
    line-height: 80px;
  }
  .tituloNoticias {
    font-size: 2.7rem;
  }
  .noticias {
    margin: 0px;
    padding: 0px;
  }
  .noticias .cajaNotaUno, .noticias .cajaFabrica {
    width: 100%;
  }
  .noticias .cajaNotaUno .tit1, .noticias .cajaFabrica .tit1 {
    font-size: 1.7rem;
  }
  .noticias .cajaNotaUno .des, .noticias .cajaFabrica .des {
    font-size: 1.5rem;
  }
  .titFabrica {
    font-size: 2rem;
  }
  .cajaFabrica {
    width: 100%;
  }
  .nombre {
    font-size: 2rem;
  }
  .descripcion {
    font-size: 1.2rem;
  }
  .titContacto {
    padding: 20px;
  }
  .formulario {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .cajaBusqueda {
    width: 50%;
    flex-flow: nowrap;
    margin: 10px;
  }
  .titContacto {
    font-size: 1.5rem;
    padding: 10px 15px;
  }
  .formulario {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 460px) {
  .barra .logo {
    font-size: 4rem;
    padding: 25px;
  }
  .navegacion .cajaBusqueda {
    width: 80%;
  }
  .fondo .bienvenidos {
    font-size: 2rem;
  }
  .fondo .textoBienvenida {
    font-size: 1rem;
  }
  .fondo .laFabrica {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .fondo .sustos {
    font-size: 7rem;
  }
  footer .redes a {
    font-size: 3rem;
  }
  footer .rights {
    font-size: 0.8rem;
  }
  .subir {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  .subir a {
    font-size: 2rem;
  }
  .tituloNoticias {
    font-size: 2.3rem;
    padding-bottom: 10px;
  }
  .card-body .tit1 {
    font-size: 2rem;
    padding: 0px;
  }
  .card-body .des {
    font-size: 1.2rem;
  }
  .titFabrica {
    font-size: 1.8rem;
  }
  .card-body .nombre {
    font-size: 1.5rem;
  }
  .card-body .descripcion {
    font-size: 1rem;
  }
  .titContacto {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  .enviar {
    font-size: 1rem;
  }
  .reset {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 350px) {
  .barra .logo {
    font-size: 3rem;
  }
  .fondo {
    padding: 10px 16px;
  }
  .fondo .bienvenidos {
    font-size: 1.5rem;
    padding: 10px 5px 10px 5px;
  }
  .fondo .textoBienvenida {
    font-size: 0.8rem;
  }
  .fondo .laFabrica {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .fondo .sustos {
    font-size: 5rem;
  }
  .fondo .banner {
    max-width: 100%;
    margin: -20% 0 0 0;
    padding-bottom: 20%;
  }
  footer .redes a {
    font-size: 2rem;
  }
  .rights {
    font-size: 0.8rem;
  }
  .tituloNoticias {
    font-size: 1.8rem;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .card-body {
    padding: 10px 0;
  }
  .card-body .tit1 {
    font-size: 1.5rem;
    padding: 0px;
  }
  .card-body .des {
    font-size: 0.9rem;
  }
  .card-body .quote {
    font-size: 1rem;
  }
  .tabla li {
    font-size: 1rem;
    padding: 0px 5px;
  }
  .titFabrica {
    font-size: 1.5rem;
  }
  .titContacto {
    font-size: 1.5rem;
  }
  .formulario {
    font-size: 1rem;
  }
  .formulario .enviar {
    font-size: 0.9rem;
    margin: 5px;
    padding: 5px;
  }
  .formulario .reset {
    font-size: 0.9rem;
    margin: 5px;
    padding: 5px;
  }
}

/*# sourceMappingURL=estilos.css.map */
